* {
    margin: 0;
    padding: 0;
}

#main{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

#textArea{
    font-family: 'Noto Sans JP', sans-serif;
    color: #636363;
    font-size: 45px;
    height: 99%;
    width: 75%;
    border: 2px solid #a4a3a3;
    margin: 0 auto;
    background-color: white;
}

#inputArea{
    height: 3.5em;
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 1em;
    border: 1px solid #a4a3a3;
    padding: 1em 0.5em;
    line-height: 1em;
}

#exText{
    font-size: 1em;
    letter-spacing: -0.01em;
}

#kanaText{
    font-size: 0.75em;
    letter-spacing: -0.15em;
}

#romaText{
    font-size: 0.9em;
}